<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="AttendanceAndPayrollSystem.Properties.Settings.apsConnectionString"
      connectionString="Data Source=MYASUSROG;Initial Catalog=aps;Persist Security Info=True;User ID=sa;Password=Asdf123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="db.server" value="MYASUSROG"/>
    <add key="db.name" value="aps"/>
    <add key="db.username" value="sa"/>
    <add key="db.pwd" value="Asdf123"/>
    <add key="SqlCommandTimeout" value="45"/>
  </appSettings>
</configuration>